* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arvo", serif;
  background-color: #e7ecef;

  /* margin:0.5rem; */
}

h1 {
  /* font-family: 'Arvo', serif; */
  padding-top: 0.05em;
  font-family: "Playfair Display", serif;
  font-size: 3.5em;
  /* letter-spacing: 0.06ch; */
  color: #0466c8;
  padding-left: 0.3125em;
  background-color: #e7ecef;
}
h2 {
  font-family: "Playfair Display", serif;
  padding-left: 0.6em;
  padding-top: 0.01em;
  font-weight: bold;
  font-size: 1.5em;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header h2 {
  color: #333;
}
.header-r {
  float: right;
  margin-top: 5.4em;
  margin-right: 3em;
}
h4 {
  font-weight: bold;
  padding-left: 0.3215em;
}
p {
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 0.6em;
  color: lightgray;
  width: 80%;
  word-wrap: break-word;
  /* white-space: pre-wrap; */
  word-break: break-word;
}

nav {
  padding: 1.25em;
  font-family: "Arvo", serif;
  text-align: center;
  font-size: medium;
  background-color: lightgray;
  justify-content: center;
}

a {
  margin: 0%;
  padding: 1% 6%;
  /* border: 1px solid darkgray; */
  display: inline;
  color: navy;
  text-decoration: none;
  font-size: larger;
  border-radius: 2em;
  margin-top: 10%;
  max-height: 0.5em;
}

a:hover {
  color: lightblue;
  background-color: #333;
  cursor: pointer;
}

.project {
  /* font-family: "Source Sans Pro", sans-serif; */
  background-color: #144272;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  /* display: flex;
    min-height: 100vh */
  flex-direction: row;
  border-top: solid 3px #333;
}

#project1 {
  background-color: #d49d31;
  /* /* background-color: darkgreen; */
  border-top: solid 3px#333;
}
#project1 p {
  color: white;
}
#project1 b {
  color: #333;
}
#project2 {
  background-color: #8b000b;
  border-top: solid 3px #333;
}

#project3 {
  background-color: #f0ead6;
  color: #333;
  border-top: solid 3px #333;
}
#project3 p {
  color: #333;
}

.education {
  font-size: x-large;
  letter-spacing: 0.1ch;
  padding-left: 0.5%;
  padding-top: 0%;
}
b {
  color: orange;
}

img {
  width: 15em;
  display: inline-block;
  margin-top: 5em;
  margin-left: 2.5ch;
  margin-right: 5ch;
  border-radius: 0.75em;
  margin-bottom: 3em;
  /* border: solid; */
}

#spotify-pic {
  width: 25em;
  height: auto;
  display: inline;
  float: right;
  margin-top: 5ch;
  /* margin-right: 2.5em; */
  border-radius: 0.75em;
}
#poker-pic {
  width: 17em;
  height: auto;
  display: inline;
  float: right;
  margin-top: 5ch;
  margin-right: 40px;
  border-radius: 12px;
}
#cat-pic {
  width: 5em;
  height: auto;
  float: left;
  margin-left: 8em;
  margin-right: 2em;
  transform: rotate(-3deg);
}
#guitar-pic {
  width: 10em;
  height: auto;
  float: left;
  margin-left: 5em;
  /* margin-top: 4em;
  border-bottom: 5ch; */
}
#profile {
  width: 20em;
  border-radius: 70%;
}
.collage {
  display: flex;
  align-content: flex-start;
  /* justify-content: space-around; */
}
footer {
  height: 4em;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}
footer div {
  gap: 4px;
}
