* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arvo", serif;
  background-color: #e7ecef;

  /* margin:0.5rem; */
}

h1 {
  /* font-family: 'Arvo', serif; */
  padding-top: 0.05em;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  /* letter-spacing: 0.06ch; */
  color: #0466c8;
  padding-left: 0.3125em;
  background-color: #e7ecef;
}
h2 {
  font-family: "Playfair Display", serif;
  padding-left: 0.6em;
  padding-top: 0.01em;
  font-size: 3em;
}
.header {
  display: flex;
  flex-flow: column wrap-reverse;
  align-items: flex-start;
  align-content: flex-start;
}

.header-l {
  margin-bottom: 1px;
}
.header-r {
  flex-shrink: 3;
  /* margin-right: 3em; */
}
h4 {
  padding-left: 0.3215em;
  font-size: medium;
}
p {
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10ch;
  color: lightgray;
  width: 80%;
  /* word-wrap: break-word; */
  /* white-space: pre-wrap; */
  word-break: break-word;
}

nav {
  visibility: hidden;
  padding: 1.25em;
  font-family: "Arvo", serif;
  text-align: center;
  font-size: small;
  background-color: lightgray;
  justify-content: center;
}

a {
  margin: 0%;
  /* border: 1px solid darkgray; */
  display: inline;
  color: navy;
  text-decoration: none;
  font-size: small;
  border-radius: 1.5em;
  max-height: 0.3em;
}

a:hover {
  color: lightblue;
  background-color: #333;
  cursor: pointer;
}

.project {
  background-color: #144272;
  color: white;
  display: flex;
  min-height: 70vh;
  flex-wrap: wrap;
  border-top: solid 3px #333;
}

.project {
  background-color: #144272;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  /* display: flex;
    min-height: 100vh */
  flex-direction: row;
  border-top: solid 3px #333;
}
.project p {
  margin: 1ch;
}

#project1 {
  background-color: #d49d31;
  /* /* background-color: darkgreen; */
  border-top: solid 3px#333;
}
#project1 p {
  color: white;
}
#project1 b {
  color: #333;
}
#project2 {
  background-color: #8b000b;
  border-top: solid 3px #333;
}

#project3 {
  background-color: #f0ead6;
  color: #333;
  border-top: solid 3px #333;
}
#project3 p {
  color: #333;
}

.education {
  font-size: 5em;
  padding-left: 0.5%;
  padding-top: 0%;
}
b {
  color: orange;
}

img {
  width: 8em;
  /* display: inline-block; */
  display: block;
  margin-top: 4em;
  border-radius: 0.75em;
  margin-bottom: 3em;
  /* border: solid; */
}

#spotify-pic {
  max-width: 15em;
  height: auto;
  margin-top: 5ch;
  border-radius: 0.75em;
}
#poker-pic {
  width: 17em;
  height: auto;
  display: inline;
  float: right;
  margin-top: 5ch;
  margin-right: 40px;
  border-radius: 12px;
}
#cat-pic {
  width: 5em;
  margin-top: 1em;
  left: 1em;
  height: auto;
  float: left;
  transform: rotate(-3deg);
}

#guitar-pic {
  width: 10em;
  height: auto;
  float: left;
  /* margin-top: 4em;
    border-bottom: 5ch; */
}
#profile {
  width: 15em;
  margin-top: 5ch;
  margin-right: 8em;
  border-radius: 50%;
}
.collage {
  visibility: hidden;
  border: solid 1px white;

  display: flex;

  justify-content: flex-start;
}
footer {
  height: 4em;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}
footer div {
  gap: 4px;
}
